@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: oklch(var(--b1));
  color: oklch(var(--n));
}

.pattern1 {
  background-color: transparent;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      oklch(var(--pc) / 0.5) 25%,
      oklch(var(--pc) / 0.5) 26%,
      transparent 27%,
      transparent 74%,
      oklch(var(--pc) / 0.5) 75%,
      oklch(var(--pc) / 0.5) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      oklch(var(--pc) / 0.5) 25%,
      oklch(var(--pc) / 0.5) 26%,
      transparent 27%,
      transparent 74%,
      oklch(var(--pc) / 0.5) 75%,
      oklch(var(--pc) / 0.5) 76%,
      transparent 77%,
      transparent
    );
  height: 100%;
  background-size: 50px 50px;
}
